@import 'tailwindcss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}
body {
  background-color: #262626;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}
